/* navigation */
#navbar{
    flex-direction: column;
}

#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;

}
/* Home */
#home{
    height: 290px;
    padding: 3px 60px;
}
#home::before{
    height: 480px;
}

#home p{
    font-size: 13px;
}
/* services */
#services{
    flex-direction: column;
}
/* #services .box{
    
} */

/* clients section */
#clients{
    flex-wrap: wrap;
}
#clients img{
    width: 190px;
    padding: 2px 6px;
    height: auto;
}

/* contact-us section*/


/* footer */

/* Utility classes */
.h-primary{
    font-size: 26px;
}

.btn{
    font-size: 13px;
    padding: 6px 11px;
}